
<center>
  <div class="login-page" style="padding: 100px;">
    <form method="POST" action="/login" class="mt-3">
      <div class="mb-3">
        <label
          for="exampleFormControlInput1"
          class="form-label"
          placeholder="Default input"
          style="font-size: 25px;"
        >Library Card Number</label>
        <input
          type="text"
          name="loginCardNumber"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Enter library card number" required
          value="0000"
          style="width:500px ;"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</center>